# ################################################################# #
# Walkman patch to run c9p4 interactive music system.               #
                                                                    #
[configure]                                                         #
name = "c9p4"                                                       #
                                                                    #
#                                                                   #
# ################################################################# #

{# I use midi controller "Midi Fighter Twisted". #}
{# Number is ascending from left to right and then #}
{# to the next level. #}

{% set midi_control_number_offset = 16 %}
{% set midi_control_number_line_master = midi_control_number_offset %}
{% set midi_control_number_line_speaker = midi_control_number_offset + 1 %}
{% set midi_control_number_line_degrader = midi_control_number_offset + 2 %}
{% set midi_control_number_line_resonator = midi_control_number_offset + 3 %}

{% set line_size = 4 %}

{% set speaker_count = 2 %}
{% set channel_count = 2 %}

[configure.audio]
channel_count = {{ channel_count }}

[configure.module.mixer.master_output]
send_to_physical_output = true
decibel = "midi_control_input.master_decibel"
audio_input_0 = "mixer.pre_master"
audio_input_1 = "waveguide_reverb.reverb"

[configure.module.mixer.pre_master]
audio_input_0 = "mixer.speaker"
audio_input_1 = "mixer.degrader"
audio_input_2 = "mixer.resonator"

[configure.module.waveguide_reverb.reverb]
decibel = "midi_control_input.reverb_decibel"
# XXX: Doesn't work! Bug in walkman! Has to be fixed!
# audio_input = "mixer.pre_master"

[configure.module.mixer.speaker]
decibel = "midi_control_input.speaker_decibel"
{% for speaker_index in range(speaker_count) %}
audio_input_{{ speaker_index }} = "speaker.{{ speaker_index }}"
{% endfor %}

{% for speaker_index in range(speaker_count) %}
[configure.module.mixer.speaker.default_dict.audio_input_{{- speaker_index -}}_channel_mapping]
0 = {{ speaker_index % channel_count }}
{% endfor %}

{% for speaker_index in range(speaker_count) %}
[configure.module.speaker.{{ speaker_index }}]
audio_input = "degrader.0"
threshold = "midi_control_input.speaker_threshold"

[configure.module.value.speaker_{{ speaker_index }}_child_decibel]
value = 0
{% endfor %}

[configure.module.audio_input.0]
input_channel_index = 0

[configure.module.mixer.degrader]
audio_input_0 = "degrader.0"
decibel = "midi_control_input.degrader_decibel"

[configure.module.degrader.0]
audio_input = "audio_input.0"
bitdepth = "midi_control_input.degrader_bitdepth"
sample_rate_scale = "midi_control_input.degrader_sample_rate_scale"

[configure.module.midi_logger.test]

[configure.module.mixer.resonator]
decibel = "midi_control_input.resonator_decibel"
{% for resonator_index in range(speaker_count) %}
audio_input_{{ resonator_index }} = "resonator.{{ resonator_index }}"
{% endfor %}

{% for resonator_index in range(speaker_count) %}
[configure.module.resonator.{{ resonator_index }}]
# audio_input = "mixer.speaker"
frequency = "midi_control_input.resonator_frequency"
audio_input = "speaker.{{ resonator_index }}"
decibel = "midi_control_input.resonator_decibel"
{% endfor %}

# #################################################################
# START Configure MIDI Input MASTER ###############################

[configure.module.midi_control_input.master_decibel]
midi_control_number = {{ midi_control_number_line_master }}
initial_value = -6

[configure.module.midi_control_input.master_decibel.default_dict]
minima = -100
maxima = 12

[configure.module.midi_control_input.reverb_decibel]
midi_control_number = {{ midi_control_number_line_master + line_size }}
initial_value = -20

[configure.module.midi_control_input.reverb_decibel.default_dict]
minima = -100
maxima = 12

# END Configure MIDI Input MASTER #################################
# #################################################################


# #################################################################
# START Configure MIDI Input RESONATOR ############################

[configure.module.midi_control_input.resonator_decibel]
midi_control_number = {{ midi_control_number_line_resonator }}
initial_value = -6

[configure.module.midi_control_input.resonator_decibel.default_dict]
minima = -100
maxima = 12

[configure.module.midi_control_input.resonator_frequency]
midi_control_number = {{ midi_control_number_line_resonator + 4 }}
initial_value = 220

[configure.module.midi_control_input.resonator_frequency.default_dict]
minima = 100
maxima = 1000

# END Configure MIDI Input RESONATOR ##############################
# #################################################################


# #################################################################
# START Configure MIDI Input SPEAKER ##############################

[configure.module.midi_control_input.speaker_decibel]
midi_control_number = {{ midi_control_number_line_speaker }}
initial_value = -6

[configure.module.midi_control_input.speaker_decibel.default_dict]
minima = -100
maxima = 0

[configure.module.midi_control_input.speaker_threshold]
midi_control_number = {{ midi_control_number_line_speaker + line_size }}
initial_value = -12

[configure.module.midi_control_input.speaker_threshold.default_dict]
minima = -40
maxima = -8

# END Configure MIDI Input SPEAKER ################################
# #################################################################


# #################################################################
# START Configure MIDI Input DEGRADER #############################

[configure.module.midi_control_input.degrader_decibel]
midi_control_number = {{ midi_control_number_line_degrader }}
initial_value = -6

[configure.module.midi_control_input.degrader_decibel.default_dict]
minima = -100
maxima = 0

[configure.module.midi_control_input.degrader_bitdepth]
midi_control_number = {{ midi_control_number_line_degrader + line_size }}
initial_value = 16

[configure.module.midi_control_input.degrader_bitdepth.default_dict]
minima = 1
maxima = 32

[configure.module.midi_control_input.degrader_sample_rate_scale]
midi_control_number = {{ midi_control_number_line_degrader + (2 * line_size) }}
initial_value = 0.5

[configure.module.midi_control_input.degrader_sample_rate_scale.default_dict]
minima = 0.0009765625
maxima = 1

# END Configure MIDI Input DEGRADER   #############################
# #################################################################


# =================================================================
# =================================================================

[cue.midi_test.midi_logger.test]

{% for speaker_index in range(speaker_count) %}
[cue.main.speaker.{{ speaker_index }}]
{% endfor %}

[cue.main.degrader.0]
