# ################################################################# #
# Walkman patch to run c9p4 interactive music system.               #
                                                                    #
[configure]                                                         #
name = "c9p4"                                                       #
                                                                    #
# ################################################################# #

{# I use midi controller "Midi Fighter Twisted". #}
{# Number is ascending from left to right and then #}
{# to the next level. #}

{% set midi_control_number_offset = 16 %}
{% set speaker_count = 2 %}

[configure.audio]
channel_count = 2

[configure.module.mixer.master_output]
send_to_physical_output = true
audio_input_0 = "mixer.speaker"
audio_input_1 = "degrader.0"

[configure.module.mixer.speaker]
decibel = "midi_control_input.speaker_decibel"
{% for speaker_index in range(speaker_count) %}
audio_input_{{ speaker_index }} = "speaker.{{ speaker_index }}"
{% endfor %}

{% for speaker_index in range(speaker_count) %}
[configure.module.mixer.speaker.default_dict.audio_input_{{- speaker_index -}}_channel_mapping]
0 = {{ speaker_index }}
{% endfor %}

{% for speaker_index in range(speaker_count) %}
[configure.module.speaker.{{ speaker_index }}]
audio_input = "audio_input.0"
threshold = "midi_control_input.speaker_threshold"

[configure.module.value.speaker_{{ speaker_index }}_child_decibel]
value = 0
{% endfor %}

[configure.module.audio_input.0]
input_channel_index = 0

[configure.module.degrader.0]
audio_input = "audio_input.0"
decibel = "midi_control_input.degrader_decibel"

[configure.module.midi_control_input.speaker_decibel]
midi_control_number = {{ midi_control_number_offset }}
initial_value = -6

[configure.module.midi_control_input.speaker_decibel.default_dict]
minima = -100
maxima = 0

[configure.module.midi_control_input.speaker_threshold]
midi_control_number = {{ midi_control_number_offset + 4 }}
initial_value = -12

[configure.module.midi_control_input.speaker_threshold.default_dict]
minima = -60
maxima = 0

[configure.module.midi_control_input.degrader_decibel]
midi_control_number = {{ midi_control_number_offset + 1 }}
initial_value = -6

[configure.module.midi_control_input.degrader_decibel.default_dict]
minima = -100
maxima = 0

# 
# [configure.module.value.degrader_0_child_decibel]
# value = -6
#

[configure.module.midi_logger.test]

[cue.1.midi_logger.test]

[cue.2.speaker.0]
[cue.2.speaker.1]
[cue.2.degrader.0]

[cue.3.degrader.0]
